@model List<HomeGameModel>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="caption header-text">
                        <h6>Welcome to lugx</h6>
                        <h2>BEST GAMING SITE EVER!</h2>
                        <p>LUGX Gaming is free gaming website for all of the users who like games. You can take a look at my website and you can tell your friends about it.</p>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="right-image">
                        <img src="assets/images/banner-image.jpg" alt="">
                        <span class="price">$22</span>
                        <span class="offer">-40%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a asp-controller="Shop" asp-action="Index">
                        <div class="item">
                            <div class="image">
                                <img src="assets/images/featured-01.png" alt="" style="max-width: 44px;">
                            </div>
                            <h4>Shop</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a asp-controller="Account" asp-action="UserInformation">
                        <div class="item">
                            <div class="image">
                                <img src="assets/images/featured-02.png" alt="" style="max-width: 44px;">
                            </div>
                            <h4>User More</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a asp-controller="Shop" asp-action="GameDetails">
                        <div class="item">
                            <div class="image">
                                <img src="assets/images/featured-03.png" alt="" style="max-width: 44px;">
                            </div>
                            <h4>Game Details</h4>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a asp-controller="Cart" asp-action="Index">
                        <div class="item">
                            <div class="image">
                                <img src="assets/images/featured-04.png" alt="" style="max-width: 44px;">
                            </div>
                            <h4>Shopping Cart</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section trending">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h6>Trending</h6>
                        <h2>Trending Games</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-button">
                        <a asp-controller="Shop" asp-action="Index">View All</a>
                    </div>
                </div>
                  @foreach (var game in Model)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a asp-controller="Shop" asp-action="GameDetails" asp-route-gameName="@game.GameName"><img src="@game.Image" alt="" style="width: 336px; height: 189px"></a>
                                <span class="price">@game.Price.ToString("C2")</span>
                            </div>
                            <div class="down-content">
                                <span class="category">@game.GenreName</span>
                                <h4>@game.GameName</h4>
                                <a asp-controller="Shop" asp-action="GameDetails" asp-route-gameName="@game.GameName"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="section most-played">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h6>TOP GAMES</h6>
                        <h2>Most Played</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-button">
                        <a asp-controller="Shop" asp-action="Index">View All</a>
                    </div>
                </div>
                @foreach (var game in ViewBag.TopGames)
                {
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="item">
                            <div class="thumb">
                                <a asp-controller="Shop" asp-action="GameDetails" asp-route-gameName="@game.GameName"><img src="@game.Image" alt="" style="width: 336px; height: 189px"></a>
                                <span class="price">@game.Price.ToString("C2")</span>
                            </div>
                            <div class="down-content">
                                <span class="category">@game.GenreName</span>
                                <h4>@game.GameName</h4>
                                <a asp-controller="Shop" asp-action="GameDetails" asp-route-gameName="@game.GameName">Explore</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="section categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h6>Categories</h6>
                        <h2>Top Categories</h2>
                    </div>
                </div>
                @foreach (var category in ViewBag.TopCategories)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="item">
                            <h4>@category.GenreName</h4>
                            <div class="thumb">
                                <a asp-controller="Shop" asp-action="GameDetails" asp-route-gameName="@category.GameName"><img src="@category.Image" alt="" style="width:336px; height:189px"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="section cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="shop">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-heading">
                                    <h6>Our Shop</h6>
                                    <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                                </div>
                                <p>Go to the Shopping page and start shopping now!</p>
                                <div class="main-button">
                                    <a asp-controller="Shop" asp-action="Index">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p>Copyright © 2048 LUGX Gaming Company. All rights reserved. &nbsp;&nbsp; Design: Dinko_Hristov</p>
            </div>
        </div>
    </footer>
</body>
</html>